.thick-navbar {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

#Steller-industries-nasa-text {
  font-family: "Nasa";
  font-style: italic;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}

.navbar .dropdown-menu {
  position: absolute; /* Makes sure dropdown doesn't push navbar height */
  top: 100%; /* Positions dropdown directly below the parent */
  left: 0; /* Aligns it properly */
  z-index: 1050; /* Ensures it stays on top */
}

.cursor-pointer {
  cursor: pointer;
}

.brand-logo {
  position: absolute;
  height: 80px; /* Adjust as needed */
  width: auto;
  left: 0; /* Align it as per your design */
  top: 50%;
  transform: translateY(-50%); /* Centers vertically */
}

.black-background {
  text-align: center;
  background-color: #343a40;
  color: rgb(232, 232, 232);
}

.white-background {
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: rgb(21, 21, 21);
}

.white-text-colour a {
  color: white;
}

.white-background h4 {
  font-weight: bold;
}

.bottom-bar {
  padding: 1.5em;
}
